extends base.pug

block body
  canvas#gameCanvas.handy

block scripts
  script(src='js/gameHandy.js')
  script.
    // Initialize the game
    init();
    animate();
  script(type='text/javascript', src='external/gamecontroller.js')
  script(type='text/javascript').
    $( function() { 
      GameController.init();
    } );